<div class="container">
  <div class="row">

    <div class="col">
      <form>
        <mat-form-field>
          <mat-select [formControl]="selectFormControl" [(ngModel)]="selectedList" (selectionChange)="onChangeList()" required>
            <mat-option [value]="option.id" *ngFor="let option of lists">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item type="button" (click)="onOpenDialogCreateList()">
            <mat-icon>add_circle</mat-icon>
            <span>Create</span>
          </button>
          <button mat-menu-item type="button" [disabled]="disabledDeleteList" (click)="onDeleteList()">
            <mat-icon>remove_circle</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </form>
    </div>

    <div class="col">
      <form [formGroup]="formSymbol" (ngSubmit)="onCreateSymbol()">
        <mat-form-field class="example-form-field">
          <mat-label>Symbol</mat-label>
          <input matInput type="text" formControlName="symbol" oninput="this.value = this.value.toUpperCase()" title="name of symbol"/>
        </mat-form-field>
        <button mat-icon-button type="submit" [disabled]="!formSymbol.valid">
          <mat-icon>add_box</mat-icon>
        </button>
      </form>
    </div>

  </div>
</div>

<br />

<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8"
  cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="onDropTable($event)">
  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.order }}</td>
  </ng-container>
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">
      <a class="symbol-link" (click)="onClickSymbol(element)">{{ element.name }}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon color="warn" (click)="onDeleteSymbol(element)" style="cursor: pointer;">delete_forever</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"></tr>
</table>

<!-- <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator> -->
