<form [formGroup]="formCreate" (ngSubmit)="onCreate()">
  <h2 mat-dialog-title>Create list</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput required formControlName="name">
      <!-- [formControl]="valueFormControl" -->
      <!-- [(ngModel)]="data.element" -->
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit" [disabled]="!formCreate.valid">Create</button>
    <!-- [mat-dialog-close]="data.element" -->
  </mat-dialog-actions>
</form>
